body {
  background-color: #000000ca;
  color: #00ff00;
  font-family: monospace;
}

.terminal .input-container {
  padding: 10px;
}

.prompt {
  display: inline;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00ff00;
  }
}

#commandInput {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  width: calc(100% - 30px);
}

#commandInput:focus {
  outline: none;
}
